<h1>Product</h1>
<div class="product-container">
    <div class="product">
        <h2>Title: {{product.title}}</h2>
        <p>Description: {{product.description}}</p>
        <p>Code: {{product.code}}</p>
        <p>Price: {{product.price}}</p>
        <p>Status: {{product.status}}</p>
        <p>Stock: {{product.stock}}</p>
        <p>Category: {{product.category}}</p>
        <p>Thumbnail:</p>
        <ul>
            {{#each product.thumbnail}}
                <li><a href="{{this}}">Link {{@index}}</a></li>
            {{/each}}
        </ul>
        <p>Id: {{product.id}}</p>
        <hr />
    </div>
</div>